---
layout: base
---

{% unless paginator.previous_page %}
<div class="container">
    {% assign featured = site.posts | where: "featured", true %}
    {% assign jumbo = featured[0] %}
    {% assign subjumbo1 = featured[1] %}
    {% assign subjumbo2 = featured[2] %}

    {% if jumbo %}
    {% include jumbo.html post=jumbo %}
    {% endif %}

    <div class="row mb-2">
        {% if subjumbo2 %}
        {% include subjumbo.html post=subjumbo1 width=6 %}
        {% include subjumbo.html post=subjumbo2 width=6 %}
        {% elsif subjumbo1 %}
        {% include subjumbo.html post=subjumbo1 width=12 %}
        {% endif %}
    </div>
</div>
{% endunless %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                {% if paginator.previous_page %}
                {{ site.name }} - Page {{ paginator.page }}
                {% else %}
                Latest {{ site.name }}
                {% endif %}
            </h3>

            {% assign skipped = 0 %}
            {% for post in paginator.posts %}
            {% if paginator.page == 1 and post.featured and skipped < 3 %}
            {% assign skipped = skipped | plus: 1 %}
            {% else %}
            {% include postitem.html %}
            {% endif %}
            {% endfor %}

            {% include pagination.html %}
        </div>

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">About {{ site.name }}</h4>
                <p class="mb-2">Data Science News is a collection of articles, videos and other content from around the
                    web that is relevant to the Data
                    Science industry.</p>
                <p class="mb-2">We aim to collect articles from a wide variety of sources and across lots of topics to
                    provide
                    thought-provoking and inspiring content to help you solve data science problems in innovative and
                    creative ways.</p>
                <p class="mb-0"><a href="/contact">Contact us</a></p>
            </div>

            {% include sidebar-topics.html %}

            {% include sidebar-morelinks.html %}
        </aside>

    </div>

</main>